$bp-largest: 1200px;     // 1200px
$bp-large: 1100px;    // 1100px
$bp-medium: 900px;   // 900px
$bp-small: 600px;     // 600px
$bp-smallest: 500px; // 500px

// Font sizes
$f-size-xs: 4px;
$f-size-s: 8px;
$f-size-m: 16px;
$f-size-l: 24px;
$f-size-xl: 32px;
$f-size-xxl: 50px;

// Spacings
$sp-size-xs: 4px;
$sp-size-s: 8px;
$sp-size-m: 16px;
$sp-size-l: 24px;
$sp-size-xl: 32px;
